{% extends "base.html" %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    {% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
            {% include 'includes/dashboard_sidebar.html' %}
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Change Your Password</strong>

                    </header>
                    <div class="card-body" style="text-align:left;">
                        <div class="row">
                            <!-- row1 -->
                            <div class="col-md-12">
                                <form action="{% url 'accounts:change-password' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
 
                                    <!-- row 3 -->
                                    <div class="form-group">
                                        <label>Current Password</label>
                                       <input type="password" name="current_password" placeholder="Current Password" required class="form-control">
                                    </div>
                                    <!-- row 4 -->
                                    <div class="form-group">
                                        <label>Create New Password</label>
                                        <input type="password" name="new_password" placeholder="Create New Password" required class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm New Password</label>
                                        <input type="password" name="confirm_password" placeholder="Confirm New Password" required class="form-control">
                                    </div>
                                    <input type="submit" value="Submit" class="btn btn-primary">
                                </form>


                            </div>


                        </div> <!-- row.// -->
                    </div> <!-- card-body .// -->

                </article> <!-- order-group.// -->
            </main>
        </div> <!-- row.// -->
    </div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}